[Unit]
Description=Eevee discord bot
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=weeb
Environment="TOKEN=token"
WorkingDirectory=/home/weeb/eevee
ExecStart=/home/weeb/eevee/eevee

[Install]
WantedBy=multi-user.target